@tailwind base;
@tailwind components;
@tailwind utilities;

h1.title {
  color: #67b373;
  font-size: 28px;
  line-height: 34px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-bottom: 12px;
}

h2.section-title {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span.input-label {
  font-size: 13px;
  color: #4a4a4a;
}

.card-title {
  font-size: 16px;
  font-weight: 500;
  color: #67b373;
}

.card-body {
  font-size: 14px;
  color: #4a4a4a;
}
